# 镜像源
registry=https://registry.npmmirror.com

# 【pnpm特定配置】
# - true：pnpm 自动安装 react 到 node_modules
auto-install-peers=true

# 【pnpm特定配置】
# false: 严格模式，pnpm 默认,未声明的包无法 require
# node_modules/
#   .pnpm/
#     react@18.0.0/
#     lodash@4.17.21/
#   react -> .pnpm/react@18.0.0/node_modules/react  # 软链接
shamefully-hoist=false

# 开发环境不开 `ignore-scripts`
# true: 忽略脚本（安全）
# false: 风险, 恶意包执行脚本（如 colors 事件）, 开发环境可以false，避免自己的脚本也不执行
ignore-scripts=false

# 减小包体积, 加速ci:
# - omit=optional: 省略 optionalDependencies
# - omit=dev: 省略 devDependencies
# - omit=peer: 省略 peerDependencies
# omit=optional