# project name
name: nbcode-devcontainer
services:
  app:
    container_name: nbcode-app
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace/:cached
      # 只挂载特定产生的运行时目录到本地 .cache
      - ./.cache/home/whonb:/home/whonb:cached
      # 挂载宿主机配置
      - ./mount/home/whonb/.bashrc:/home/whonb/.bashrc:cached
      - ./mount/home/whonb/.profile:/home/whonb/.profile:cached
    # 覆盖默认运行命令，使其持续运行以待连接
    command: /bin/sh -c "while sleep 1000; do :; done"
    # 使用 whonb 用户
    user: whonb
