name: nbcode

services:
  app:
    container_name: nbcode-app
    image: nbcode
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile

    volumes:
      - ..:/workspaces/nbcode:cached

    # 加载环境变量
    env_file:
      - .env

    # 保持容器运行 (等效于 -it)
    tty: true
    stdin_open: true

    # 使用 node 用户
    user: node
